<!DOCTYPE html><html lang="en" dir="ltr"><head><meta http-equiv="content-type" content="text/html; charset=UTF-8" /><meta http-equiv='Content-Style-Type' content='text/css' /><link rel='stylesheet' href='http://www.soft9000.com/service/pub/skins/mycustom/pmwiki.css' type='text/css' />
  <!--HTMLHeader--><style type='text/css'><!--
  ul, ol, pre, dl, p { margin-top:0px; margin-bottom:0px; }
  code.escaped { white-space: nowrap; }
  .vspace { margin-top:1.33em; }
  .indent { margin-left:40px; }
  .outdent { margin-left:40px; text-indent:-40px; }
  a.createlinktext { text-decoration:none; border-bottom:1px dotted gray; }
  a.createlink { text-decoration:none; position:relative; top:-0.5em;
    font-weight:bold; font-size:smaller; border-bottom:none; }
  img { border:0px; }
  .editconflict { color:green; 
  font-style:italic; margin-top:1.33em; margin-bottom:1.33em; }

  table.markup { border:2px dotted #ccf; width:90%; }
  td.markup1, td.markup2 { padding-left:10px; padding-right:10px; }
  table.vert td.markup1 { border-bottom:1px solid #ccf; }
  table.horiz td.markup1 { width:23em; border-right:1px solid #ccf; }
  table.markup caption { text-align:left; }
  div.faq p, div.faq pre { margin-left:2em; }
  div.faq p.question { margin:1em 0 0.75em 0; font-weight:bold; }
  div.faqtoc div.faq * { display:none; }
  div.faqtoc div.faq p.question 
    { display:block; font-weight:normal; margin:0.5em 0 0.5em 20px; line-height:normal; }
  div.faqtoc div.faq p.question * { display:inline; }
   
    .frame 
      { border:1px solid #cccccc; padding:4px; background-color:#f9f9f9; }
    .lfloat { float:left; margin-right:0.5em; }
    .rfloat { float:right; margin-left:0.5em; }
a.varlink { text-decoration:none; }

--></style>  <meta name='robots' content='index,follow' />

</head>
<title>CromaCode Listing</title>
<body>
<table bgcolor='white' width='75%'>
<tr><td>
	<h1>The Able Namespace</h1>
	<p>
	<font size='4'>This is preliminary documentation. Written mostly for project-member review, you can expect to see something better here as time whimpers along...</font>
	</p>
<br><br>
<pre>
Orignally written for the C Standard Library on WIN32. 
Hence the on-going work on Linux and OS X is relatively easy!

Able1 has been built using various compilers and tool sets.  
The list includes:

   NetBeans 7.0 (C++ works great!)
   Microsoft Visual Studio.NET
   Microsoft Visual C++ 6
   Borland C++Builder 6
   Borland Kylix
   Eclipse 3.0 / G++ (CDT)
   Eclipse 3.0 / DJGPP (CDT + a few hacks of my own)

Let us know if you have any trouble.
</pre>
<br><br>
	<p>
	<font size='4'>If you enjoy reading - or otherwise rummaging-thu code such as this - then you might also enjoy learning about this &amp; other projects &amp; services available to you at <a href="http://www.soft9000.com">Soft9000.com</a></font>
	</p>
	<p>
	<br><br><br><img src="http://soft9000.com/service/_graphics/thanks.gif"><br><br>R.A. Nagy
	</p>
	<br>
	<hr>
<center>
<font size='5'>~=*=~</font>
</center>
	<hr>
<br>
<br>
<br>
</td></tr>
<tr><td>
	.%CromaCode%.
</td></tr>
<tr><td>
	<hr>
<center>
<font size='5'>~/=\~</font>
</center>
	<hr>
</td></tr>
</table>
<hr>
</body>
</html>
