[Desktop Entry]
Encoding=UTF-8
Name=Link to CSimpleSocket - C++ cross platform socket library
Type=Link
URL=http://sockets.carrierlabs.com/
Icon=gnome-fs-bookmark
